div.app {
    --zoom-box: 1;
    --zoom-text: 1;
    --vvh: 1024px;
}

div.station {
    position: absolute;
    border: 1px outset grey;
    font-size: calc(30px * var(--zoom-text));
    width: calc(200px * var(--zoom-box));
    white-space: pre;
    overflow: hidden;
    background: white;
    opacity: 0.8;
}

div.station.enlarged {
    width: calc(600px * var(--zoom-box));
    white-space: normal;
    opacity: 1;
}

div.station span.rn {
    color: white;
    text-shadow: 0 0 .1vw black;
    font-weight: bold;
    width: 1em;
    display: inline-block;
    text-align: center;
}

div.station.enlarged span.rn {
    font-size: 190%;
    float: left;
}

div.station span.half {
    width: calc(50% - 0.5em);
    overflow: hidden;
    display: inline-block;
    background: linear-gradient(to right, #fff, #fff 80%, #777 100%);
    vertical-align: bottom;
}

div.station.enlarged span.half {
    width: calc(100% - 2em);
    float: right;
    white-space: pre;
    overflow: hidden;
}

div.station span.fragile {
    width: 50%;
    display: inline-block;
    font-size: 80%;
    text-align: center;
    border: 1px solid #333;
}

div.station.enlarged span.fragile {
    width: 100%;
}

div.station .hidden {
    display: none;
}

div.station.enlarged span.hidden {
    display: inline;
}

div.station.enlarged div.hidden {
    display: block;
}

div.closebutton {
    float: right;
    background: #c00;
    border: #c00 outset 1px;
    font-size: 60%
}

div.ball {
    width: calc(20px * var(--zoom-text));
    height: calc(20px * var(--zoom-text));
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: calc(20px * var(--zoom-text));
    text-shadow: 0 0 .1vw black;
    position: absolute;
    z-index: -1;
}

div.Fetcher {
    border: 1px outset grey;
    font-size: calc(20px * var(--zoom-text));
    white-space: pre;
    overflow: hidden;
    background: #ccc;
    text-align: center;
    cursor: pointer;
    padding: .5em 0;
    min-width: 4em;
}

div.Fetcher b {
    color: white;
    text-shadow: 0 0 .1vw black;
    padding: 0.1em .4em;
    border-radius: 33%;
}

div.FetcherBox {
    position: fixed;
    z-index: 99999;
    display: flex;
    flex-wrap: wrap;
    height: var(--vvh);
    justify-content: space-around;
    background: grey;
    flex-direction: column;
}

div.yahball {
    font-size: calc(50px * var(--zoom-text));
    background: #7af;
    border-radius: 50%;
    text-align: center;
    width: fit-content;
}

				
