div.app {
    --zoom-box: 1;
    --zoom-text: 1;
}

div.station {
    position: absolute;
    border: .01in outset grey;
    font-size: calc(.3in * var(--zoom-text));
    width: calc(2in * var(--zoom-box));
    white-space: pre;
    overflow: hidden;
    background: white;
    opacity: 0.8;
}

div.station.enlarged {
    width: calc(6in * var(--zoom-box));
    white-space: normal;
    opacity: 1;
}

div.station span.rn {
    color: white;
    text-shadow: 0 0 .1vw black;
    font-weight: bold;
    width: 1em;
    display: inline-block;
    text-align: center;
}

div.station.enlarged span.rn {
    font-size: 190%;
    float: left;
}

div.station span.half {
    width: calc(50% - 0.5em);
    overflow: hidden;
    display: inline-block;
    background: linear-gradient(to right, #fff, #fff 80%, #777 100%);
    vertical-align: bottom;
}

div.station.enlarged span.half {
    width: calc(100% - 2em);
    float: right;
    white-space: pre;
    overflow: hidden;
}

div.station span.fragile {
    width: 50%;
    display: inline-block;
    font-size: 80%;
    text-align: center;
    border: 1px solid #333;
}

div.station.enlarged span.fragile {
    width: 100%;
}

div.station .hidden {
    display: none;
}

div.station.enlarged span.hidden {
    display: inline;
}

div.station.enlarged div.hidden {
    display: block;
}

div.closebutton {
    float: right;
    background: #c00;
    border: #c00 outset 1px;
    font-size: 60%
}

div.ball {
    width: calc(.2in * var(--zoom-text));
    height: calc(.2in * var(--zoom-text));
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: calc(.2in * var(--zoom-text));
    text-shadow: 0 0 .1vw black;
    position: absolute;
    z-index: -1;
}
